#historyTable{

    overflow-x:auto;
    margin-top:20px;

}


table{

    width:100%;
    border-collapse:collapse;
    background:white;

}


th, td{

    border:1px solid #ddd;
    padding:10px;
    text-align:center;

}


th{

    background:#f1f1f1;

}


#backBtn{

    margin-top:20px;
    width:100%;
    padding:12px;

}